In [1]:
import pandas as pd
import numpy as np
import warnings

In [2]:
data = pd.read_csv("data.csv",sep="\t")
data.head()

,race,age,engnat,gender,hand,source,country,E1,E2,E3,...,O1,O2,O3,O4,O5,O6,O7,O8,O9,O10
0,3,53,1,1,1,1,US,4,2,5,...,4,1,3,1,5,1,4,2,5,5
1,13,46,1,2,1,1,US,2,2,3,...,3,3,3,3,2,3,3,1,3,2
2,1,14,2,2,1,1,PK,5,1,1,...,4,5,5,1,5,1,5,5,5,5
3,3,19,2,2,1,1,RO,2,5,2,...,4,3,5,2,4,2,5,2,5,5
4,11,25,2,2,1,2,US,3,1,3,...,3,1,1,1,3,1,3,1,5,3

<div style="font-size: medium">Moyenne par catégorie de questions pour le monde :</div>

In [3]:
dmoy = data[['race','age','engnat','gender','hand','source','country']]
dmoy["E"] = data[['E1','E2','E3','E4','E5','E6','E7','E8','E9','E10']].mean(axis=1)

dmoy["N"]=data[['N1','N2','N3','N4','N5','N6','N7','N8','N9','N10']].mean(axis=1)

dmoy["A"]=data[['A1','A2','A3','A4','A5','A6','A7','A8','A9','A10']].mean(axis=1)

dmoy["C"]=data[['C1','C2','C3','C4','C5','C6','C7','C8','C9','C10']].mean(axis=1)

dmoy["O"]=data[['O1','O2','O3','O4','O5','O6','O7','O8','O9','O10']].mean(axis=1)
dmoy.head()

   race  age  engnat  gender  hand  source country    E    N    A    C    O
0     3   53       1       1     1       1      US  3.2  1.9  3.2  3.1  3.1
1    13   46       1       2     1       1      US  2.8  2.9  3.1  2.8  2.6
2     1   14       2       2     1       1      PK  2.9  4.6  3.8  3.3  4.1
3     3   19       2       2     1       1      RO  3.6  4.3  3.7  3.4  3.7
4    11   25       2       2     1       2      US  2.6  3.2  4.0  2.6  2.2

In [4]:
dmoy11=dmoy[['E','N','A','C','O']].max(axis=1)
Max = pd.DataFrame(data=dmoy11,columns=["max"])
Max

       max
0      3.2
1      3.1
2      4.6
3      4.3
4      4.0
...    ...
19714  4.1
19715  3.0
19716  4.2
19717  3.8
19718  4.0

[19719 rows x 1 columns]

In [5]:
personality_type = dmoy[['E','N','A','C','O']].idxmax(axis=1)
personality_type

0        E
1        A
2        N
3        N
4        A
        ..
19714    N
19715    C
19716    N
19717    N
19718    C
Length: 19719, dtype: object

In [6]:
dmoy["maximum"] = Max
dmoy["personality_type"] = personality_type

Donc voici le tableau des moyennes et du maximum aux questions de personnalités sur le monde.

In [7]:
dmoy.to_csv("data_with_mean&max.csv", index=False)
dmoy.head()

,race,age,engnat,gender,hand,source,country,E,N,A,C,O,maximum,personality_type
0,3,53,1,1,1,1,US,3.2,1.9,3.2,3.1,3.1,3.2,E
1,13,46,1,2,1,1,US,2.8,2.9,3.1,2.8,2.6,3.1,A
2,1,14,2,2,1,1,PK,2.9,4.6,3.8,3.3,4.1,4.6,N
3,3,19,2,2,1,1,RO,3.6,4.3,3.7,3.4,3.7,4.3,N
4,11,25,2,2,1,2,US,2.6,3.2,4.0,2.6,2.2,4.0,A

<div style="font-size: medium">Voici là la moyenne par catégorie de question :</div>

In [8]:
dmoy[['E']].mean(axis=0)

E    3.076566
dtype: float64

In [9]:
dmoy[['N']].mean(axis=0)

N    3.095192
dtype: float64

In [10]:
dmoy[['A']].mean(axis=0)

A    3.204772
dtype: float64

In [11]:
dmoy[['C']].mean(axis=0)

C    3.154749
dtype: float64

In [12]:
dmoy[['O']].mean(axis=0)

O    3.313479
dtype: float64

<div style="text-align: center; font-size: xx-large; color: darkred">Etats-Unis :</div>

Maintenant, nous allons faire la même chose pour les Etats-Unis.

<div style="font-size: medium">Moyenne par catégorie de questions :</div>

In [13]:
det1 = data[data["country"] == "US"]
det = det1[['race','age','engnat','gender','hand','source','country']]

det["E"] = det1[['E1','E2','E3','E4','E5','E6','E7','E8','E9','E10']].mean(axis=1)

det["N"]=det1[['N1','N2','N3','N4','N5','N6','N7','N8','N9','N10']].mean(axis=1)

det["A"]=det1[['A1','A2','A3','A4','A5','A6','A7','A8','A9','A10']].mean(axis=1)

det["C"]=det1[['C1','C2','C3','C4','C5','C6','C7','C8','C9','C10']].mean(axis=1)

det["O"]=det1[['O1','O2','O3','O4','O5','O6','O7','O8','O9','O10']].mean(axis=1)

det.head()

   race  age  engnat  gender  hand  source country    E    N    A    C    O
0     3   53       1       1     1       1      US  3.2  1.9  3.2  3.1  3.1
1    13   46       1       2     1       1      US  2.8  2.9  3.1  2.8  2.6
4    11   25       2       2     1       2      US  2.6  3.2  4.0  2.6  2.2
5    13   31       1       2     1       2      US  2.8  3.2  3.4  3.7  3.5
6     5   20       1       2     1       5      US  3.2  2.5  3.7  3.0  2.9

In [14]:
det22=det[['E','N','A','C','O']].max(axis=1)
Maxe = pd.DataFrame(data=det22,columns=["max"])
Maxe

       max
0      3.2
1      3.1
4      4.0
5      3.7
6      3.7
...    ...
19712  3.6
19713  3.3
19715  3.0
19716  4.2
19718  4.0

[8753 rows x 1 columns]

In [15]:
personality_type_us = det[['E','N','A','C','O']].idxmax(axis=1)
personality_type_us

0        E
1        A
4        A
5        C
6        A
        ..
19712    A
19713    A
19715    C
19716    N
19718    C
Length: 8753, dtype: object

In [16]:
det["Maximum"] = Maxe
det["personality_type"] = personality_type_us

Donc voici le tableau des moyennes et du maximum aux questions de personnalités aux Etats-Unis.

In [17]:
det

,race,age,engnat,gender,hand,source,country,E,N,A,C,O,Maximum,personality_type
0,3,53,1,1,1,1,US,3.2,1.9,3.2,3.1,3.1,3.2,E
1,13,46,1,2,1,1,US,2.8,2.9,3.1,2.8,2.6,3.1,A
4,11,25,2,2,1,2,US,2.6,3.2,4.0,2.6,2.2,4.0,A
5,13,31,1,2,1,2,US,2.8,3.2,3.4,3.7,3.5,3.7,C
6,5,20,1,2,1,5,US,3.2,2.5,3.7,3.0,2.9,3.7,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19712,3,19,1,2,1,3,US,3.2,2.5,3.6,2.8,2.9,3.6,A
19713,3,26,1,1,1,2,US,3.0,2.3,3.3,3.1,2.6,3.3,A
19715,3,37,1,2,1,2,US,2.9,2.5,2.8,3.0,2.6,3.0,C
19716,5,16,2,1,1,2,US,3.5,4.2,3.4,3.7,3.3,4.2,N
19718,3,35,1,1,1,1,US,2.8,3.3,3.3,4.0,3.7,4.0,C

<div style="font-size: medium">Voici là la moyenne par catégorie de question :</div>

In [18]:
det[['E']].mean(axis=0)

E    3.068537
dtype: float64

In [19]:
det[['N']].mean(axis=0)

N    3.019273
dtype: float64

In [20]:
det[['A']].mean(axis=0)

A    3.183034
dtype: float64

In [21]:
det[['C']].mean(axis=0)

C    3.17065
dtype: float64

In [22]:
det[['O']].mean(axis=0)

O    3.328619
dtype: float64